[Unit]
Description=Set login prompt via /etc/issue
Before=getty@tty1.service getty@tty2.service getty@tty3.service getty@tty4.service getty@tty5.service getty@tty6.service

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/issue.sh

[Install]
WantedBy=multi-user.target
