#!/bin/sh

WID=$1
CLASS=$2

case "$CLASS" in
  *)
    case "$(xprop -id "$WID" | awk '/WM_WINDOW_ROLE/ {print $3}')" in
      '"GtkFileChooserDialog"' )
        echo rectangle=900x500+0+0;;
    esac;;
esac
