[Unit]
Description=service to fix the current layout positioning

[Service]
Type=simple
Environment=HOME=/home/#USER
Environment=XAUTHORITY=/home/#USER/.Xauthority
Environment=DISPLAY=:0
ExecStart=/opt/stack/displays fix layout

[Install]
WantedBy=default.target