[Unit]
Description=service to lock the screen before suspend
Before=suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/#USER_ID/bus
ExecStart=/opt/stack/power lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=suspend.target
