[Unit]
Description=service to initialize plugged-in tablets settings

[Service]
Type=simple
ExecStart=/usr/local/stack/desktop -qs init tablets

[Install]
WantedBy=default.target