[Unit]
Description=service to initialize the desktop's pointer settings

[Service]
Type=simple
ExecStart=/usr/local/stack/desktop -qs init pointer

[Install]
WantedBy=default.target
