[Unit]
Description=service to initialize plugged-in tablets settings

[Service]
Type=simple
ExecStart=/usr/local/bin/desktop -q init tablets

[Install]
WantedBy=default.target