#!/bin/bash

set -Eeo pipefail

source /opt/stack/commons/validators.sh

# Sets the size of any file chooser dialog.
# Arguments:
#  wid: the id of the window
rule_file_chooser () {
  local wid="${1}"

  local class=''
  class="$(xprop -id "${wid}" | awk '/WM_WINDOW_ROLE/ {print $3}')"
  
  if equals "${class}" '"GtkFileChooserDialog"'; then
    echo 'rectangle=900x500+0+0'
  fi
}

rule_file_chooser "$@"

