#!/bin/bash

set -o pipefail

source /opt/stack/commons/validators.sh
source /opt/stack/commons/logger.sh
source /opt/stack/commons/error.sh

# Sets the size of any file chooser dialog.
# Arguments:
#  wid: the id of the window
rule_file_chooser () {
  local wid="${1}"

  local class=''
  class="$(xprop -id "${wid}" | awk '/WM_WINDOW_ROLE/ {print $3}')"

  if has_failed; then
    log 'Failed to set the size of file chooser.'
    return 1
  fi
  
  if equals "${class}" '"GtkFileChooserDialog"'; then
    echo 'rectangle=900x500+0+0'
  fi

  return 0
}

rule_file_chooser "$@"
